.game[data-theme="coding-vibes"] {
  background-color: #2c2e2e;
  color: #f2f4f5;
  font-family: "Red Rose", sans-serif;

  .game__header {
    width: min(100%, 1420px);
    grid-template-columns: 1fr auto 1fr;
  }

  .game__score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%, 292px);
    height: 62px;
    padding: 17px 20px;
    box-sizing: border-box;
    gap: 20px;
    background-color: #3f5552;
    justify-self: start;
  }

  .game__score-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap: 0.4rem;
    white-space: nowrap;
    font-family: "Red Rose", sans-serif;
    font-size: 22px;

  }

  .game__score-icon {
    width: clamp(1.25rem, 2vw, 2rem);
    height: clamp(1.25rem, 2vw, 2rem);
    object-fit: contain;
  }

  .game__current-player {
    justify-self: center;
    font-family: "Red Rose", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
  }

  .game__current-player-icon {
    width: 2rem;
    height: 2rem;
  }

  .game__score-player--blue {
    color: #29aef5;
  }

  .game__score-player--orange {
    color: #f58a27;
  }

  .game__exit {
    width: 195px;
    height: 62px;
    aspect-ratio: auto;
    justify-self: end;
  }
}

@media (max-width: 47.999rem) {
  .game[data-theme="coding-vibes"] {
    .game__header {
      grid-template-columns: 1fr;
    }

    .game__score,
    .game__current-player,
    .game__exit {
      justify-self: center;
    }

    .game__score {
      width: min(100%, 292px);
    }

    .game__exit {
      width: min(100%, 195px);
    }
  }
}