.game[data-theme="da-project"] {
  color: #f1f1f1;

  background:
    radial-gradient(
      ellipse at 50% 0%,
      #292929 0%,
      #222222 35%,
      #1b1b1b 70%,
      #151515 100%
    );

  .game__header {
    width: min(100%, 1412px);
    min-height: 102px;
    padding: 24px;
    background:
      linear-gradient(
        135deg,
        #292929 0%,
        #232323 45%,
        #1d1d1d 100%
      );
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 24px;
  }

  .game__score {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-width: 182px;
    height: 54px;
    padding: 0 16px;
    box-sizing: border-box;
    gap: 40px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  .game__score-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap: 0.4rem;
    white-space: nowrap;
  }

  .game__score-player--blue {
    color: #1769ff;
  }

  .game__score-player--orange {
    color: #e56b17;
  }

  .game__score-points {
    font-family: "Figtree", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
  }

  .game__current-player {
    color: #f1f1f1;
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: right;
  }

  .game__current-player-icon {
    width: 2rem;
    height: 2rem;
  }

  .game__exit {
    width: 195px;
    height: 54px;
    aspect-ratio: auto;
  }
}