$breakpoints: (
  sm: 36rem,
  md: 48rem,
  lg: 68.75rem,
  xl: 75rem,
  xxl: 87.5rem,
);

$container-max-widths: (
  sm: 36rem,
  md: 48rem,
  lg: 68.75rem,
  xl: 75rem,
  xxl: 87.5rem,
);

$spacing: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 3rem,
);
